# - name: Include Role app-setup
#   ansible.builtin.include_role:
#       name: common
#       tasks_from: app-setup

# - name: Include Role nodejs
#   ansible.builtin.include_role:
#       name: common
#       tasks_from: nodejs

# - name: Copy mongodb repo file
#   ansible.builtin.copy:
#     src: mongo.repo
#     dest: /etc/yum.repos.d/mongo.repo

# - name: Install mongodb client
#   ansible.builtin.dnf:
#     name: mongodb-mongosh
#     state: present

# - name: check data is loaded or
#   ansible.builtin.command: mongosh --host mongodb.devops84s.shop -eval "db.getMongo().getDBNames().indexOf('catalogue')"
#   register: mongo_output

# - name: check mongo mongo_output
#   ansible.builtin.debug:
#     msg: '{{ mongo_output }}'

# - name: Load catalogue schema
#   ansible.builtin.shell: mongosh --host mongodb.devops84s.shop < /app/db/master-data.js
#   when: mongo_output.stdout == "-1" # or when: mongo_output.stdout | int < 0

# - name: Include Role systemd
#   ansible.builtin.include_role:
#     name: common
#     tasks_from: systemd

- name: app setup
  include_role:
    name: common
    tasks_from: app-setup

- name: nodejs setup
  include_role:
    name: common
    tasks_from: nodejs

- name: copy mongodb repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: install mongodb client
  ansible.builtin.dnf:
    name: mongodb-mongosh
    state: present

- name: check products loaded or not
  ansible.builtin.command: mongosh --host mongodb.daws84s.site --eval 'db.getMongo().getDBNames().indexOf("catalogue")'
  register: catalogue_output
  # ignore_errors: true
  # ignore_unreachable: true

- name: print catalogue output
  ansible.builtin.debug:
    msg: '{{ catalogue_output }}'
  # ignore_errors: true
  # ignore_unreachable: true

- name: load products
  ansible.builtin.shell: mongosh --host mongodb.daws84s.site < /app/db/master-data.js
  when: catalogue_output.stdout | int < 0
  # ignore_errors: true
  # ignore_unreachable: true

- name: systemd setup
  include_role:
    name: common
    tasks_from: systemd.yaml
# - name: Deployment
#   tags:
#   - deployment
#   import_role:
#     name: common
#     tasks_from: deployment
